### Importing the dataset

In [4]:
import kagglehub

# Download latest version
path = kagglehub.dataset_download("pratyushpuri/global-ai-job-market-trend-2025")

print("Path to dataset files:", path)

Downloading from https://www.kaggle.com/api/v1/datasets/download/pratyushpuri/global-ai-job-market-trend-2025?dataset_version_number=1...

100%|██████████| 517k/517k [00:01<00:00, 467kB/s]

Extracting files...
Path to dataset files: C:\Users\shubh\.cache\kagglehub\datasets\pratyushpuri\global-ai-job-market-trend-2025\versions\1

In [15]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

from sklearn.linear_model import LinearRegression

reg = LinearRegression()

import warnings

warnings.filterwarnings("ignore")

In [35]:
df = pd.read_csv('data/ai_job_dataset.csv')

In [36]:
df.drop(['job_id','posting_date', 'application_deadline','job_description_length', 'salary_currency'], axis = 1, inplace = True)

In [37]:
# Data already clean
df.isna().sum()

job_title             0
salary_usd            0
experience_level      0
employment_type       0
company_location      0
company_size          0
employee_residence    0
remote_ratio          0
required_skills       0
education_required    0
years_experience      0
industry              0
benefits_score        0
company_name          0
dtype: int64

In [38]:
df.head(5)

,job_title,salary_usd,experience_level,employment_type,company_location,company_size,employee_residence,remote_ratio,required_skills,education_required,years_experience,industry,benefits_score,company_name
0,AI Research Scientist,90376,SE,CT,China,M,China,50,"Tableau, PyTorch, Kubernetes, Linux, NLP",Bachelor,9,Automotive,5.9,Smart Analytics
1,AI Software Engineer,61895,EN,CT,Canada,M,Ireland,100,"Deep Learning, AWS, Mathematics, Python, Docker",Master,1,Media,5.2,TechCorp Inc
2,AI Specialist,152626,MI,FL,Switzerland,L,South Korea,0,"Kubernetes, Deep Learning, Java, Hadoop, NLP",Associate,2,Education,9.4,Autonomous Tech
3,NLP Engineer,80215,SE,FL,India,M,India,50,"Scala, SQL, Linux, Python",PhD,7,Consulting,8.6,Future Systems
4,AI Consultant,54624,EN,PT,France,S,Singapore,100,"MLOps, Java, Tableau, Python",Master,0,Media,6.6,Advanced Robotics